.chapters-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
}

.chapters-page h1 {
    font-size: 5em;
    margin: 2.5rem 0;
    text-align: center;
}

.chapters-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 60%;
    margin: 0;
    gap: 1rem;
}

.chapter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 3px solid #939393; /* Light blue border */
    border-radius: 5px;
    background-color: #222222;
    padding: 10px;
    cursor: pointer;
    gap: 1rem;
}

.chapters-list h1 {
    margin: 0 0 1rem 0;
}

.chapter-item h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin : 0;
    font-size: 2em;
    color: #21c787;
}

.chapter-item p {
    white-space: nowrap;
    margin: 0;
    color: #bbbbbb;
}

@media (max-width: 1200px) {
    .chapters-list {
        width: 70%;
    }
}

@media (max-width: 700px) {
    .chapters-page h1 {
        font-size: 4.5em;
    }

    .chapter-item h2 {
        font-size: 1.5em;
    }

    .chapter-item p {
        font-size: 0.9em;
    }
}

@media (max-width: 500px) {
    .chapters-page h1 {
        font-size: 3.5em;
    }

    .chapter-item h2 {
        font-size: 1.25em;
    }

    .chapter-item p {
        font-size: 0.8em;
    }
}