.chapters-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    margin: 2rem 0;
    gap: 5rem;
}

.chapters-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 500px;
    margin: 0;
}

.chapter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #AAC7D8; /* Light blue border */
    border-radius: 5px;
    border-width: 3px;
    padding: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.chapters-list h1 {
    margin: 0 0 1rem 0;
}

.chapter-item h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin : 0;
}

.chapter-item p {
    white-space: nowrap;
    margin: 0;
}