@font-face {
    font-family: 'Grit Font';
    src: url('../../assets/grit-font-lowerK.otf') format('opentype');
}

.navigation {
    display: flex;
    justify-content: center; /* Center the main buttons */
    align-items: center; /* Vertically center items */
    background-color: #0F0F0F;
    padding: 10px 20px;
    position: relative; /* Enable positioning for child elements */
    border-bottom: 6px solid #32FFB0;
}

.main-buttons {
    display: flex;
    gap: 20px; /* Add spacing between buttons */
}

.socials {
    position: absolute; /* Position the socials independently */
    right: 20px; /* Push the socials to the right */
    display: flex;
    gap: 20px; /* Add spacing between social links */
    margin: 0;
}

.socials img {
    width: 40px; /* Set a fixed size for social icons */
    height: 40px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.navigation button {
    background: none;
    border: none;
    color: #bbbbbb;
    padding: 5px 10px;
    font-size: 36px;
    cursor: pointer;
    font-family: 'Grit Font';
}

.navigation a {
    color: #939393;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.navigation a:hover {
    text-decoration: underline;
}