@font-face {
    font-family: 'Grit Font';
    src: url('../../assets/grit-font-lowerK.otf') format('opentype');
}

.navigation {
    display: flex;
    justify-content: center; /* Center the main buttons */
    align-items: center; /* Vertically center items */
    background-color: #354555;
    padding: 10px 20px;
    position: relative; /* Enable positioning for child elements */
}

.main-buttons {
    display: flex;
    gap: 15px; /* Add spacing between buttons */
}

.socials {
    position: absolute; /* Position the socials independently */
    right: 20px; /* Push the socials to the right */
    display: flex;
    gap: 20px; /* Add spacing between social links */
    margin: 0;
}

.socials img {
    width: 40px; /* Set a fixed size for social icons */
    height: 40px;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.navigation button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    font-family: 'Grit Font';
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}

.navigation a:hover {
    text-decoration: underline;
}