.wiki {
    color: white;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 400px auto 400px;
    gap: 20px;
}

.wiki h1 {
    font-size: 2.5em;
    margin: 0;
    margin-top: 2rem;
    text-align: center;
}

.category-list {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    gap: 30px;
}

.category-button {
    background-color: #AAC7D8; /* Light blue background */
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #29353C;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    min-width: 300px;
    cursor: pointer;
    text-align: center;
}

.category-button.active {
    background-color: #29353C; /* Darker blue for active category */
    color: #AAC7D8; /* Light blue text for active category */
}

.wiki-list {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    margin-bottom: 3rem;
    color: white;
    gap: 30px;
    width: 100%;
}

.wiki-search {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.wiki-search input {
    width: 80%;
    max-width: 600px;
    padding: 10px 15px;
    font-size: 1.1em;
    border: 2px solid #AAC7D8;
    border-radius: 5px;
    background-color: #354555;
    color: #AAC7D8;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.wiki-search input::placeholder {
    color: #AAC7D8; 
    opacity: 0.7;
}

.wiki-search input:focus {
    border-color: #fff;
    background-color: #3c4e5f;
}

.wiki-item {
    text-align: left;
    border: 1px solid #AAC7D8;
    background-color: #354555;
    border-radius: 5px;
    border-width: 3px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
}

.wiki-item-header {
    display: flex;
    justify-content: space-between;
}

.wiki-item-header h2 {
    font-size: 2em;
    margin: 0;
}

.wiki-item-link {
    text-decoration: none;
    color: #AAC7D8; /* Light blue text */
}
    

.wiki-item-updated {
    font-size: 0.8em;
    color: #AAC7D8; /* Light blue text */
    text-align: right;
    margin: 0;
}

.wiki-item-content {
    white-space: normal !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}