.sign-up-page {
    font-family: Arial, sans-serif;
    color: white;
}

.sign-up-page p button {
    background-color: #AAC7D8; /* Light blue button */
    color: #29353C; /* Dark text for contrast */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 8px;
}

.sign-up-page p button:hover {
    background-color: #8AAFC0; /* Slightly darker blue on hover */
}

.sign-up-page p button:focus {
    outline: none;
    box-shadow: 0 0 5px #AAC7D8; /* Highlight button on focus */
}


.sign-up-form {
    background-color: #354555; /* Slightly lighter background for the form */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    width: 100%;
    max-width: 400px; /* Limit the form width */
    text-align: center;
    margin: 0 auto; /* Center the form horizontally */
}

.sign-up-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.sign-up-form input:focus {
    outline: none;
    box-shadow: 0 0 5px #AAC7D8; /* Highlight input on focus */
}

.sign-up-form button {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: #AAC7D8; /* Light blue button */
    color: #29353C; /* Dark text for contrast */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sign-up-form button:hover {
    background-color: #8AAFC0; /* Slightly darker blue on hover */
}

.sign-up-form p {
    margin-top: 15px;
    font-size: 14px;
    color: #D3D3D3; /* Light gray for additional text */
}