.comic-viewer-container {
    margin: 20px auto;
}

.comic-chapter-title {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comic-chapter-title button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 20px;
}

.comic-chapter-title img {
    height: 22px;
    width: 40px;
}

.comic-page-indicator {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.comic-viewer img {
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
    display: block;
}

.comment-section {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    margin-bottom: 3rem;
    gap: 30px;
    max-width: 70%;
    color: white;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.comment-textarea {
    resize: none; /* only allow vertical resizing */
    max-width: 100%;  /* stays responsive */
    width: 100%;      /* fills the container */
    box-sizing: border-box; /* include padding/border in width */
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    border: 1px solid #AAC7D8;
    background-color: #354555;
    border-radius: 5px;
    border-width: 3px;
    color: white;
}

.comment-textarea::placeholder {
    color: white;
    opacity: 0.7;
}

.comment-textarea:focus {
    border-color: #fff;
    background-color: #3c4e5f;
    outline: none;
}

.comment-submit-button {
    background-color: #AAC7D8; /* Light blue background */
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #29353C;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    min-width: 300px;
    cursor: pointer;
    text-align: center;
}

.comment-submit-button:hover {
    background-color: #7a9bb1; /* Darker blue on hover */
}

.comment-submit-button:disabled {
    background-color: #7a9bb1; /* Darker blue when disabled */
    cursor: not-allowed;
}

.comment-title {
    font-size: 2em;
    margin: 0;
    margin-top: 2rem;
    text-align: center;
}

.comment {
    text-align: left;
    border: 1px solid #AAC7D8;
    background-color: #354555;
    border-radius: 5px;
    border-width: 3px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-header h3 {
    font-size: 1.5em;
    margin: 0;
    color: #AAC7D8;
}

.comment-date {
    font-size: 0.8em;
    color: #AAC7D8;
    text-align: right;
    margin: 0;
}

.comment-content {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem 0;
}

.loading {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}