.comic-viewer-container {
    margin: 20px auto;
}

.comic-chapter-title {
    color: white;
    font-size: 5em;
    margin: 2.5rem 0 0 0;
}

.page-count {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    margin: 15px 0 15px 0;
}

.comic-viewer img {
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
    display: block;
}

.navigation-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.page-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: color 0.2s;
}

.page-button:disabled {
    color: #555555;
    cursor: not-allowed;
}

.page-button:disabled img {
    filter: grayscale(100%) opacity(0.5);
}

.page-button:not(:disabled):hover {
    color: #32FFB0;
}

.page-button:not(:disabled):active {
    transform: scale(0.9);
}

.page-button img {
    height: 36px;
    width: auto;
}

.page-button .left-icon {
    transform: rotate(180deg);
}

.comment-section {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 3rem;
    gap: 30px;
    width: 90%;
    max-width: 800px;
    color: white;
}

.comment-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: 100%;
}

.comment-textarea {
    width: 100%;      /* fills the container */
    box-sizing: border-box; /* include padding/border in width */
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    border: 3px solid #939393;
    background-color: #222222;
    border-radius: 5px;
    color: white;
}

.comment-textarea::placeholder {
    color: white;
    opacity: 0.7;
}

.comment-textarea:focus {
    border-color: #bbbbbb;
    background-color: #303030;
    outline: none;
}

.comment-submit-button {
    background-color: #939393;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #222222;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    width: 250px;
    cursor: pointer;
    text-align: center;
}

.comment-submit-button:hover {
    background-color: #bbbbbb;
}

.comment-submit-button:disabled {
    visibility: hidden;
}

.comment-title {
    font-size: 2em;
    margin: 0;
    margin-top: 2rem;
    text-align: center;
}

.comment {
    text-align: left;
    border: 3px solid #939393;
    background-color: #222222;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.comment-header h3 {
    font-size: 1.5em;
    margin: 0;
    color: #bbbbbb;
}

.comment-date {
    font-size: 0.8em;
    color: #bbbbbb;
    text-align: right;
    margin: 0;
}

.comment-content {
    width: 100%;
    box-sizing: border-box;
    margin: 0.5rem 0;
}

.image-placeholder {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 700px) {
    .page-button img {
        height: 30px;
    }

    .comic-chapter-title {
        font-size: 4.5em;
    }

    .page-count {
        font-size: 1em;
    }

    .comment-textarea {
        font-size: 14px;
        padding: 8px;
    }

    .comment-submit-button {
        font-size: 1em;
        padding: 8px;
        width: 200px;
    }

    .comment-title {
        font-size: 1.75em;
    }

    .comment {
        padding: 8px;
    }

    .comment-header h3 {
        font-size: 1.25em;
    }

    .comment-date {
        font-size: 0.7em;
    }

    .comment-content {
        font-size: 14px;
    }

}

@media (max-width: 500px) {
    .page-button img {
        height: 24px;
    }

    .comic-chapter-title {
        font-size: 3.5em;
    }

    .page-count {
        font-size: 0.9em;
    }

    .comment-textarea {
        font-size: 13px;
        padding: 6px;
    }

    .comment-submit-button {
        font-size: 0.9em;
        padding: 6px;
        width: 150px;
    }

    .comment-title {
        font-size: 1.5em;
    }

    .comment {
        padding: 6px;
    }

    .comment-header h3 {
        font-size: 1.1em;
    }

    .comment-date {
        font-size: 0.6em;
    }

    .comment-content {
        font-size: 13px;
    }
}
