.page-container {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  font-family: Arial, sans-serif;
}


.page-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-item img {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin: 5px;
}