.navigation {
    background-color: #354555;
    padding: 10px 20px;
}

.navigation button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}