footer {
    background-color: #222222;
    padding: 20px 0;
    text-align: center;
    border-top: 6px solid #32FFB0;
}

footer p {
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
}