.updates {
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.updates h1 {
    font-size: 5em;
    margin: 2.5rem 0;
    text-align: center;
}

.updates-list {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    color: white;
    gap: 30px;
    width: 100%;
}

.updates-item {
    text-align: left;
    border: 3px solid #939393; /* Light blue border */
    background-color: #222222;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    margin: 0 auto;
}

.updates-item-header {
    font-size: 2em;
    margin: 0;
    color: #21c787;
}

.updates-item-updated {
    font-size: 0.8em;
    color: #bbbbbb;
    text-align: right;
    margin: 0;
}

.updates-item-content p {
    margin: 8px 0;
}

@media (max-width: 700px) {
    .updates h1 {
        font-size: 4.5em;
    }

    .updates-item {
        width: 85%;
    }

    .updates-item-header {
        font-size: 1.5em;
    }

    .updates-item-updated {
        font-size: 0.75em;
    }

    .updates-item-content p {
        font-size: 15px;
        margin: 6px 0;
    }
}

@media (max-width: 500px) {
    .updates h1 {
        font-size: 3.5em;
    }

    .updates-item {
        width: 90%;
    }

    .updates-item-header {
        font-size: 1.2em;
    }

    .updates-item-updated {
        font-size: 0.7em;
    }

    .updates-item-content p {
        font-size: 14px;
        margin: 4px 0;
    }
}