.updates {
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.updates h1 {
    font-size: 4.5em;
    margin: 2.5rem 0;
    text-align: center;
}

.updates-list {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    margin-bottom: 3rem;
    color: white;
    gap: 30px;
    width: 100%;
}

.updates-item {
    text-align: left;
    border: 1px solid #939393; /* Light blue border */
    background-color: #222222;
    border-radius: 5px;
    border-width: 3px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    max-width: 80%;
    margin: 0 auto;
}

.updates-item-header {
    font-size: 2em;
    margin: 0;
    color: #bbbbbb;
}

.updates-item-link {
    text-decoration: none;
    color: #bbbbbb; /* Light blue text */
}
    

.updates-item-updated {
    font-size: 0.8em;
    color: #bbbbbb; /* Light blue text */
    text-align: right;
    margin: 0;
}

.updates-item-content {
    margin-bottom: 1em;
    width: 100%;
}