@font-face {
    font-family: 'Grit Font';
    src: url('../../assets/grit-font-lowerK.otf') format('opentype');
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    position: relative;
}

.grit-logo {
    width: 24rem;
    height: auto;
    margin: 1.5rem 0;
}

.account-container {
    position: absolute;
    right: 10px;
    display: flex;
    gap: 20px;
}

.account-container button {
    background: none;
    border: none;
    color: #bbbbbb;
    padding: 10px 20px;
    cursor: pointer;
}

.header-title-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent */
}

.user {
    font-family: 'Grit Font';
    text-transform: uppercase; /* Capitalizes the first letter of each word */
    font-size: 25px;
}