.account-page {
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-page h1 {
    font-size: 5rem;
    margin: 2.5rem 0;
}

.account-details {
    background-color: #222222;
    border: 3px solid #939393;
    border-radius: 5px;
    width: 70%;
    padding: 1.5rem;
}

.account-info {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.account-info h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #21c787;
}

.account-info p span {
    color: #bbbbbb;
}

.account-info button {
    background: linear-gradient(145deg, #FF6B6B, #FF3B3B);; /* Modern gradient */
    font-family: 'Arial', sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    color: #222222;
    border: none;
    border-radius: 6px; /* Slightly rounder corners */
    padding: 8px 16px; /* More comfortable padding */
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15); /* Subtle shadow */
    transition: all 0.3s ease; /* Smooth hover transition */
}

.account-info button:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.2); /* Lift effect on hover */
    transform: translateY(-3px); /* Slight lift */
}

.account-actions {
    text-align: center;

}

.account-actions a {
    text-decoration: none;
}

.account-actions button {
    background: none;
    cursor: pointer;
    padding: 0;
    border: none;
    outline: none;
    color: #bbbbbb;
    font-size: 1em;
}

.account-actions button:hover {
    color: white;
}

.account-actions button:disabled {
    visibility: hidden;
}

.account-actions > *:not(:last-child)::after {
    content: "|";
    color: #bbbbbb;
    margin: 0 0.5rem;
    pointer-events: none;
}

@media (max-width: 900px) {
    .account-page h1 {
        font-size: 4em;
    }
    
    .account-details {
        padding: 1.3rem;
        width: 75%;
    }

    .account-info {
        font-size: 1em;
    }

    .account-info h2 {
        font-size: 2.2em;
    }

    .account-info button {
        padding: 6px 12px;
    }

    .account-actions button {
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    .account-page h1 {
        font-size: 3em;
    }

    .account-details {
        padding: 1.2rem;
        width: 80%;
    }

    .account-info {
        font-size: 0.9em;
    }

    .account-info h2 {
        font-size: 2em;
    }

    .account-info button {
        padding: 5px 10px;
    }

    .account-actions button {
        font-size: 0.75em;
    }
}

@media (max-width: 320px) {
    .account-page h1 {
        font-size: 2.7em;
    }
}